* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    color: #33FF33;
    --background: linear-gradient(black, #282828)
}

h1 {
    font-size: 40px;
}

body {
    text-align: center;
    background: var(--background);
    height: 100vh;
}

#high-score-button {
    position: absolute;
    top: 1%;
    left: 1%;
    border-width: 0;
    border-radius: 10%;
    background: black;
}

#start-button {
    border-radius: 10%;
    background: var(--background);
    margin-left: auto;
    margin-right: auto;
}

.timer {
    position: absolute;
    top: 1%;
    right: 1%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;
    background: black;
}

.question-box {
    background: var(--background);
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 650px;
    padding-top: 100px;
    margin-top: 10%;
    margin-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10%;
    box-shadow: 0 5px 15px rgb(14, 13, 13);
}

.answer-section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 425px;
}

.answer-box {
    background: var(--background);
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 200px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 1%;
    border-radius: 10%;

}

.answer-box:hover {
    box-shadow: 0 5px 15px rgb(14, 13, 13);
    transform: translateY(-7px);
}

.flavortext {
    height: 20px;
}

.submit-button {
    border-radius: 10%;
    background: var(--background);
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 768px) {
    .question-box {
        width: 350px;
    }

    h1 {
        font-size: 28px;
    }

    .answer-section {
        width: 350px;

    }

    .answer-box {
        width: 150px;
    }

    .flavortext {
        padding-top: 10%;
    }
}